[submodule "BoolMaster"]
	path = BoolMaster
	url = https://github.com/hugodecasta/BoolMaster
[submodule "GoogleSignInJS"]
	path = GoogleSignInJS
	url = https://github.com/hugodecasta/GoogleSignInJS
[submodule "Mirror"]
	path = Mirror
	url = https://github.com/hugodecasta/Mirror
